# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# Django
db.sqlite3
media/

# Environment
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/

# Tests
.pytest_cache/
.coverage

# OS
.DS_Store
Thumbs.db

staticfiles/